{% extends "base.html" %}

{% block content %}
<div class="polls row">
  <div class="span6 recent">
    <h1 class="title">Recent Polls</h1>
    <p class="desc">Polls published in the last day.</p>
    {% if polls_recent %}
      <table>
        {% for poll in polls_recent %}
          <tr>
            <td>{{ poll.pub_date|date:"M d" }}: </td>
            <td><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No new polls</p>
    {% endif %}
  </div>
  <div class="span6">
    <h2>Other Polls</h2>
    {% if polls_rest %}
      <table>
        {% for poll in polls_rest %}
          <tr>
            <td>{{ poll.pub_date|date:"M d" }}: </td>
            <td><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></td>
          </tr>
        {% endfor %}
      </table>
    {% elif not poll_recent %}
      <p>No other polls are available</p>
    {% endif %}
  </div>
</div>
{% endblock %}
